{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<div class="container">
    <div class="post">
        <div class="post-image">
            {% if torrent.pic_url != '' %}
            <img src="{{ torrent.pic_url }}">
            {% else %}
            <img src="{{ url_for('static', filename='img/no-photo.jpg') }}">
            {% endif %}
        </div>
        <div class="post-content">
            <div class="post-header">
                <h1>{{ torrent.name }}</h1>
                <div class="post-meta">
                    <span>Дата создания: {{ torrent.created_date }}</span>
                    <span class="author">Автор: {{ user_name }}</span>
                </div>
            </div>
            <br>
            <p>
                {{ torrent.description }}
            </p>
            <a href="{{ torrent.magnet }}">Magnet-ссылка</a>
            <br>
            <br>
            <br>
            <br>
            <h5>Теги:</h5>
            {% for tag in tags%}
            <a href="{{ url_for('tags', name=tag.name) }}" class="badge badge-primary">{{ tag.name }}</a>
            {% endfor %}
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="{{ url_for('add_comm', id=negr) }}">Добавить комментарий</a>
        <br>
        <br>
        <br>
        <br>
        <div data-bs-spy="scroll" class="scrollspy-example" tabindex="0">
            {% for comm in comms %}
            <h3 id="{{ comm.id }}">{{ comm.user_name }}</h3>
            <p>{{ comm.text }}</p>
            {% endfor %}
        </div>
    </div>
</div>
<br>
<style>
.container img {
    max-width: 100%;
    height: auto;
}
</style>
{% endblock %}